<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
    <div class="summary">
    <p>Welcome here to my official CV page. I  started to do research and web development since from twenty years ago. I am working on 
        smart cities and digital tourism  projects for my university and research group. Since 2014, i started new courses and international conferences.</p>
        <p>Here are what i can do for you :</p>
        <ul>
            <li>Research and Data Analysis for Smart cities and Smartourism</li>
            <li>Cultural Tourism Organization</li>
            <li>Web Application Development</li>
            <li>Other Digital Technologies (IoT, Blockchain atc...)</li>
        </ul>
        
    </div><!--//summary-->
</section><!--//section-->
