<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
    <div class="summary">
    <p>Hello there, you may call me Nafis. As short information, I started to learn web development since 2011 with PHP and MySQL. I have been worked web development projects for my office and my essay. Since 2014, i started my career as a freelance web developer.</p>
        <p>Here are what i can do for you :</p>
        <ul>
            <li>Web Application Development with Laravel Framework</li>
            <li>Build custom and responsive WordPress website</li>
            <li>HTML template to WordPress Theme</li>
            <li>WordPress customization with Child theme</li>
        </ul>
        <p>Until now, work many web applications and websites for my clients (Colleges, Ecommerce/Online Store, Pharmacy, Courier Company, Tour and Travel Company, etc.).</p>
    </div><!--//summary-->
</section><!--//section-->