<div class="education-container container-block">
    <h2 class="container-block-title">Education</h2>
    <div class="item">
        <h4 class="degree">Bachelor Degree (S1) Informatics Engineering</h4>
        <h5 class="meta">UNIVERSITAS ISLAM KALIMANTAN, MUHAMMAD ARSYAD AL-BANJARY (BANJARMASIN)</h5>
        <div class="time">2009 - 2012</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">Telecomunication Engineering - Diploma Degree (D3)</h4>
        <h5 class="meta">SEKOLAH TINGGI TEKNOLOGI TELKOM (BANDUNG)</h5>
        <div class="time">2004 - 2007</div>
    </div><!--//item-->
</div><!--//education-container-->