<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Web Developer</h3>
                <div class="time">2015 - Present</div>
            </div><!--//upper-row-->
            <div class="company">JasaWebsiteBanjarmasin.com - Banjarmasin</div>
        </div><!--//meta-->
        <div class="details">
            <p>Creating a web application design include:</p>
            <ul>
                <li>The concept and design business processes based on client's specification / needs</li>
                <li>The concept and design the database based on the actual business process and reports format as needed</li>
                <li>Creating a wireframe / web-interface design</li>
                <li>Implementation of web applications with PHP framework Laravel and CodeIgniter</li>
                <li>Application usage training</li>
            </ul>

            <p>Create a website with WordPress CMS:</p>
            <ul>
                <li>Select available themes to adapts client's needs</li>
                <li>Creating plugins and child themes to customize client-specific needs</li>
                <li>Convert HTML to WordPress</li>
                <li>Creating a mobile responsive website</li>
                <li>Completion of the sample content</li>
                <li>Client's training on using WordPress CMS and website features</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Freelance Web Developer</h3>
                <div class="time">2014 - Present</div>
            </div><!--//upper-row-->
            <div class="company">JasaWebsite.Biz - Bandung</div>
        </div><!--//meta-->
        <div class="details">
            <p>As a freelance web developer here, this are my scoope of work in general :</p>
            <ul>
                <li>Business proccess analysis</li>
                <li>Writing technical and non technical specification of client requirements</li>
                <li>Develop Web Application with Laravel</li>
                <li>Develop Website with Wordpress</li>
                <li>Writing documentation or user guide of Web Application</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Operation Engineer</h3>
                <div class="time">2008 - 2014</div>
            </div><!--//upper-row-->
            <div class="company">Mitra Karsa Utama (XL Axiata Outsourcing Partner) - Banjarmasin</div>
        </div><!--//meta-->
        <div class="details">
            <p>My Job description in PT. Mitra Karsa Utama (Outsource PT. XL Axiata)</p>
            <ul>
                <li>As XL Representative for XL tenants and parners on any collocation project and collocation operation service</li>
                <li>Inspection and Supervision for collocation project implemention</li>
                <li>Daily Service for XL partners coordination and site access (on collocation service)</li>
                <li>Administrative document activities</li>
            </ul>

            <p>Gained experiences:</p>
            <ul>
                <li>Working with professionalism and integrity</li>
                <li>Understanding of company rules and business processes</li>
                <li>Good communication with the local community regarding XL tower</li>
                <li>Understanding of professional unit management</li>
                <li>Good company data and files management</li>
                <li>Improve productivity by making web-based information systems as tool to support daily work operation</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->
</section><!--//section-->