<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>Here are some of my latest project:</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="http://inspekta.net">Inspekta.Net</a></span> -
        <span class="project-tagline">Inspekta.net is Savety and Environment Care department (K3L) of PLN Kalseteng application for recording unsafe actions, unsafe condition, nearmiss &amp; accident impact based on K3L rules and regulations.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://primahan.com" target="_blank">Primahan.com</a></span> -
        <span class="project-tagline">A lecturer's personal and educational blog.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="http://dinodonuts.com" target="_blank">DinoDonuts.com</a></span> -
        <span class="project-tagline">As online shop of DinoDonuts store to serve online order of their products. This site contains ordering cart in Front-end and Order Management in Back-end.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="http://ongkir.belimukena.com" target="_blank">Ongkir.Belimukena.com</a></span> -
        <span class="project-tagline">A web application to serve Belimukena.com's order shipment cost (with API) from Tasikmalaya City to all Indonesia's districts (with local data shipment rates).</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="http://ongkir.belimukena.com" target="_blank">Calief Gallery Order Management</a></span> -
        <span class="project-tagline">A web application to manage Calief Gallery's customer orders, include Work Order assignments, Customer Invoices and order shipments management.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="http://akukreatif.com" target="_blank">AkuKreatif.com</a></span> -
        <span class="project-tagline">A web-based directory application for member profile of Ekraf Member's registration and member profiles management.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="http://sia.stikeshb.ac.id" target="_blank">STIKES Husada Borneo - Academic System</a></span> -
        <span class="project-tagline">An academic information system to serve academic data management service of of STIKES Husada Borneo, Banjarbaru.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="http://sia.stimi-bjm.ac.id" target="_blank">STIMI Banjarmasin - Academic System</a></span> -
        <span class="project-tagline">An academic information system to serve academic data management service of of STIMI Banjarmasin, Banjarmasin.</span>
    </div><!--//item-->
</section><!--//section-->