<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <p>Now I'm focusing my expertise to build Web Aplication using Laravel Framework, i can design and implement application business process and relational database based on your actual business workflow.</p>
    <p>I'm using WordPress for website development, i can design and build custom template based on your requirements.</p>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">PHP &amp; Laravel</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->
        <div class="item">
            <h3 class="level-title">Wordpress</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->
        <div class="item">
            <h3 class="level-title">Relational Database Design</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->
        <div class="item">
            <h3 class="level-title">HTML5 &amp; CSS</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->
    </div>
</section><!--//skills-section-->